{
    "github" : {
        "allowedIps": [
            "127.0.0.1",
            "207.97.227.253",
            "50.57.128.197",
            "108.171.174.178"
        ]
    },
    "log" : {
        "enabled" : true,
        "path" : "logs/"
    },
    "debug" : false
}
